@charset "UTF-8";
@use "../../../Css/Foundation/function" as f;
@use "../../../Css/Foundation/mixin" as m;
@use "../../../Css/Foundation/variable" as v;

/* ===============================================
  * Button Catalog *
=============================================== */
@include m.mqP(lg) {
  /* ===============================================
    * Button Catalog *
  =============================================== */
}
@include m.mq(lg) {
  /* ===============================================
    * Button Catalog *
  =============================================== */
}




@include m.mq(lg) {
  .section-style--buttons {
    .annotation {
      display: inline;
    }

    .button__list .title__text {
      width: 100%;
    }

    .button__list-item {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      padding-left: 2rem;

      &--1 {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .button__variation__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .button__variation {
      width: 40%;
    }

    .button-description-txt {
      text-align: left;
    }

    .button .annotation {
      display: block;
      margin-top: 1rem;
    }

  }
}




.button-catalog {
  &__list {
    display: grid;
    grid-template-rows: 1fr;
    gap: var(--spacer-vertical-small);

    width: 100%;
    margin-right: auto;
    margin-bottom: var(--spacer-vertical-medium);
    margin-left: auto;
    padding: 0 var(--spacer-vertical-xsmall);

    @include m.mqP(lg) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include m.mq(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  &__detail {
    &-container {
      margin-top: var(--spacer-vertical-xsmall);

      .code {
        margin-top: calc(var(--spacer-vertical-xsmall) / 2);
      }
    }

    &-text {
      .annotation--s {
        display: block;
        margin-top: .5ch;
        margin-left: 0;
      }
    }
  }


  &__preview-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    aspect-ratio: 1;
    margin: auto;
    background-color: var(--color-grey-lighter);
    border-radius: var(--borderRadius-regular);

    svg {
      width: 80%;
    }
  }
}
