<ul class="button-catalog__list">
  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#copyIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">コピー</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#copyIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#playIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">コピー</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#playIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#octocatIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">蛸猫</p>

      <button class="code js-copyButton" type="button">
        <span class="annotation--s annotation--grey">html用</span><br>
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#octocatIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
      <button class="code js-copyButton" type="button">
        <span class="annotation--s annotation--grey">CSSのbackground-image用（白）</span><br>
        <span class="js-copyTarget">
          var(--svg-arrow-white)
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

</ul>
