{{!-- 構造 --}}
<h3 class="title__text title__text--child">構造</h3>

<ul class="button-catalog__list">
  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--main" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">基本構造（テキストのみ）<span class="annotation--s annotation--red">必ず適用してください</span></p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__frame</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__frame--icon c-button__skin--main" type="button" aria-label="PLACEHOLDERへ遷移するボタン">
      <svg class="c-button__icon-wrapper"><use xlink:href="#octocatWIcon"></use></svg>
      ボタンダヨー
    </button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">アイコン付き - img, svg要素</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__frame--icon</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__frame--icon c-button__frame--icon-pseudo c-button__skin--main" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">アイコン付き - 疑似要素</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__frame--icon</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

</ul>


{{!-- 外観 --}}
<h3 class="title__text title__text--child">外観</h3>

<ul class="button-catalog__list">
  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--main" type="button" aria-label="PLACEHOLDERへ遷移するボタン" disabled>ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">無効化時<span class="annotation--s annotation--grey">disabledのボタンに自動で適用されます</span></p>

      {{!-- <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__frame</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button> --}}
    </div>
  </li>

  <li class="button-catalog__list-item"></li>

  <li class="button-catalog__list-item"></li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--main" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">メインカラー</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__skin--main</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--sub-1" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">サブカラー - 1</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__skin--sub-1</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

</ul>


{{!-- アニメーション --}}
<h3 class="title__text title__text--child">アニメーション</h3>

<ul class="button-catalog__list">
  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--main c-button__animation--transparent" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">背景透過</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__animation--transparent</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--blue c-button__animation--transparent" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">背景透過 応用例</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__skin--blue c-button__animation--transparent</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item"></li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--main c-button__animation--shadow-4" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">影 - 小</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__animation--shadow-4</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--main c-button__animation--shadow-6" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">影 - 中</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__animation--shadow-6</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <button class="c-button__frame c-button__skin--main c-button__animation--shadow-8" type="button" aria-label="PLACEHOLDERへ遷移するボタン">ボタンダヨー</button>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">影 - 大</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">c-button__animation--shadow-8</span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>
</ul>
