{{!-- 構造 - 基本 --}}
<h3 class="title__text title__text--child">構造：基本</h3>

<ul class="button-catalog__list">
  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#closeIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">ばってん</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#closeIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#upperArrowIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">ページTOP</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#upperArrowIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item"></li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#leftArrowIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">矢印 - 左</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#leftArrowIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#rightArrowIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">矢印 - 右</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#rightArrowIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item"></li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#detailIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">詳細</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#detailIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#downloadIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">ダウンロード</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#downloadIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#playIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">再生</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#playIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#copyIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">コピー</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#copyIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item"></li>

  <li class="button-catalog__list-item"></li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#octocatWIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">蛸猫 - 白</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#octocatWIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

  <li class="button-catalog__list-item">
    <div class="button-catalog__preview-box button-catalog__preview-box--svg">
      <svg><use xlink:href="#octocatBIcon"></use></svg>
    </div>

    <div class="button-catalog__detail-container">
      <p class="button-catalog__detail-text">蛸猫 - 黒</p>

      <button class="code js-copyButton" type="button">
        <span class="js-copyTarget">
          &lt;svg&gt;&lt;use xlink:href=&quot;#octocatBIcon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        </span>
        <svg class="svg-inline--fa fa-copy fa-w-14 fa-lg icon--copy"><use xlink:href="#copyIcon"></use></svg>
      </button>
    </div>
  </li>

</ul>
