@charset "UTF-8";
@use "../../../Css/foundation/function" as f;
@use "../../../Css/foundation/mixin" as m;
@use "../../../Css/foundation/variable" as v;


/* ===============================================
  * section-style--codingrule *
=============================================== */
@include m.mqP(lg) {
  /* ===============================================
    * section-style--codingrule *
  =============================================== */
}
@include m.mq(lg) {
  /* ===============================================
    * section-style--codingrule *
  =============================================== */
}


/*
 * section-style--codingrule
 */
.section-style--codingrule .codingrule-detail__container {
  padding-right: 3%;
  padding-left: 3%;
}

.section-style--codingrule .codingrule-detail__list {
  margin-top: 2%;
  padding-left: 2%;
  list-style: disc;
  list-style-position: inside;
}
