@charset "UTF-8";
@use "../../../Css/foundation/function" as function;
@use "../../../Css/foundation/mixin" as mixin;
@use "../../../Css/foundation/variable" as variable;

/* ===============================================
  * section-style--font-family *
=============================================== */
@include mixin.mqP(lg) {
  /* ===============================================
    * section-style--font-family *
  =============================================== */
}
@include mixin.mq(lg) {
  /* ===============================================
    * section-style--font-family *
  =============================================== */
}


.font-family__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--spacer-vertical-xsmall);

  @include mixin.mqP(lg) {
    gap: var(--spacer-vertical-small) 0;
  }
  @include mixin.mq(lg) {
    gap: var(--spacer-vertical-small) 5%;
  }

  &-item {
    font-size: 1.25em;
    font-weight: var(--fontweight-l);
    letter-spacing: 0.05em;
    line-height: 2;

    @include mixin.mqP(lg) {
      width: 100%;
    }

    @include mixin.mq(lg) {
      width: 47.5%;
    }
  }
}

copy-fontfamily[error="true"] {
  pointer-events: none;

  .code {
    border-color: var(--color-attention);
    color: var(--color-grey);

    svg {
      visibility: hidden;
    }
  }
}
