@charset "UTF-8";
@use "../../../Css/foundation/function" as f;
@use "../../../Css/foundation/mixin" as m;
@use "../../../Css/foundation/variable" as v;


/* ===============================================
  * MOVIE *
=============================================== */
@include m.mqP(lg) {
  /* ===============================================
    * MOVIE *
  =============================================== */
}
@include m.mq(lg) {
  /* ===============================================
    * MOVIE *
  =============================================== */
}


.movie-wrapper {
  & > iframe {
    width: 100%;
    height: fit-content;
    padding: 2rem;
    aspect-ratio: 1;
  }
}
