@charset "UTF-8";

/* =======================================================================

  Variables.css

======================================================================= */


:root {

  /* =======================================================================
    Color
  ======================================================================= */

  /* Utility */
  --color-main: var(--color-black);
  --color-bg-main: #f8f8f8;
  --color-font: var(--color-black);
  --color-primary: #58B8e2;
  --color-error: var(--color-red);
  --color-attention: var(--color-red);
  --color-warning: var(--color-red);


  /* General */
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #7e7e7e;
  --color-grey-lighter: #dfdfdf;
  --color-grey-light: #adadad;
  --color-grey-dark: #525252;
  --color-grey-darker: #2a2a2a;

  --color-red: #e25858;
  --color-red-light: #ef9a9a;
  --color-red-dark: #9a0007;
  --color-orange: #d67936;
  --color-yellow: #e5dc09;

  --color-green: #055818;
  --color-green-light: #a5d6a7;
  --color-green-dark: #004c40;

  --color-blue: #1976d2;
  --color-blue-light: #81d4fa;
  --color-blue-dark: #004ba0;


  /* プロジェクト用 */
  --color-brand-main: #212121;
  --color-brand-main-light: #484848;
  --color-brand-main-dark: #000;

  --color-brand-sub1: #37474f;
  --color-brand-sub1-light: #62727b;
  --color-brand-sub1-dark: #102027;



  /* =======================================================================
    font-size
  ======================================================================= */

  /* タイトル */
  --title-xs: 1.5rem;
  --title-s: 1.6rem;
  --title-m: 2rem;
  --title-l: 2.4rem;
  --title-xl: 3.2rem;


  /* テキスト */
  --text-xs: 1rem;
  --text-s: 1.1rem;
  --text-m: 1.2rem;
  --text-l: 1.3rem;
  --text-xl: 1.4rem;
  --text-xxl: 1.5rem;


  /* font-weight */
  --fontweight-s: 100;
  --fontweight-m: 400;
  --fontweight-l: 700;




  /* =======================================================================
    font-family
  ======================================================================= */

  --yu-gothic: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "Yu Gothic", "Open Sans", "メイリオ", sans-serif;
  --hiragino-gothic: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif;




  /* =======================================================================
    z-index
  ======================================================================= */

  --zindex-behind: -10;
  --zindex-middle: 0;
  --zindex-front: 10;

  --zindex-header: 50;
  --zindex-header-bg: 30;
  --zindex-pageTop: 30;

  --zindex-drawer: 90;
  --zindex-modal: 100;
  --zindex-bg: 80;




  /* =======================================================================
    Contents Width
  ======================================================================= */

  --container-fluid: 100%;
  --container-default: 100%;
  --container-static: 100%;




  /* =======================================================================
    Animation
  ======================================================================= */

  --opacity-hover: .6;

  --transition-default: var(--transitionDuration-default) var(--transitionTimingFunction-default);
  --transitionDuration-fast: 150ms;
  --transitionDuration-default: 350ms;
  --transitionDuration-slow: 600ms;
  --transitionTimingFunction-default: ease;




  /* =======================================================================
    border-radius
  ======================================================================= */
  --borderRadius-small: .5rem;
  --borderRadius-regular: .8rem;
  --borderRadius-large: 1rem;




  /* =======================================================================
    box-shadow
  ======================================================================= */
  --elevation-0: none;
  --elevation-1: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  --elevation-2: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  --elevation-3: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  --elevation-4: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  --elevation-6: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  --elevation-8: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  --elevation-9: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
  --elevation-12: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
  --elevation-16: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
  --elevation-24: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);




  /* ===============================================
    * SVG *
  =============================================== */

  --svg-arrow: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%227.312%22%20viewBox%3D%220%200%2016%207.312%22%3E%20%3Cpath%20id%3D%22arrow%22%20d%3D%22M15.767%2C7.312H.229A.25.25%2C0%2C0%2C1%2C0%2C7.04V6.182a.247.247%2C0%2C0%2C1%2C.229-.265H8.471V.226a.232.232%2C0%2C0%2C1%2C.394-.16l7.066%2C6.863a.224.224%2C0%2C0%2C1-.165.384%22%20transform%3D%22translate(0%200)%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');

}



@media (min-width: 768px) {
  :root {

    /* =======================================================================
      font-size
    ======================================================================= */

    /* タイトル */
    --title-xs: 1.3rem;
    --title-s: 1.4rem;
    --title-m: 2rem;
    --title-l: 2.4rem;
    --title-xl: 2.6rem;


    /* テキスト */
    --text-xs: .8rem;
    --text-s: .9rem;
    --text-m: 1rem;
    --text-l: 1.1rem;
    --text-xl: 1.2rem;
    --text-xxl: 1.3rem;




    /* =======================================================================
      Contents Width
    ======================================================================= */

    --container-default: 114rem;
    --container-static: 100rem;
    --container-middle: 80rem;
  }
}
