@charset "UTF-8";
@use "../../../Css/foundation/function" as f;
@use "../../../Css/foundation/mixin" as m;
@use "../../../Css/foundation/variable" as v;


/* ===============================================
  * BUTTON *
=============================================== */
@include m.mqP(lg) {
  /* ===============================================
    * BUTTON *
  =============================================== */
}
@include m.mq(lg) {
  /* ===============================================
    * BUTTON *
  =============================================== */
}



.c-button {

  &__frame {
    --width: auto;
    --min-width: none;
    --max-width: none;
    --height: auto;
    --min-height: none;
    --max-height: none;
    --padding-horizontal: 2rem;
    --padding-vertical: .5rem;
    --border-radius: 100px;
    --font-size: 1.5rem;
    --font-family: var(--ff-main);
    --font-weight: var(--fw-bold);
    --letter-spacing: .2em;

    // @include m.mqP(md) {
    //   --padding-horizontal: 3.6rem;
    //   --padding-vertical: 1.5rem;
    //   --font-size: 1.6rem;
    // }

    // @include m.mq(md) {
    //   --padding-horizontal: 2rem;
    //   --padding-vertical: 1.4rem;
    //   --font-size: 1.5rem;
    // }

    position: relative;
    z-index: 1;

    display: grid;
    place-content: center;

    width: var(--width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: var(--min-height);
    height: var(--height);
    max-height: var(--max-height);
    aspect-ratio: var(--aspect-ratio);

    background-color: var(--color-background);
    padding: var(--padding-vertical) var(--padding-horizontal);
    border: solid 1px var(--color-background);
    border-radius: var(--border-radius);
    overflow: hidden;

    color: var(--color-font);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    line-height: 1.5;
    word-break: keep-all;

    transition:
      background var(--transitionDuration-fast) var(--transitionTimingFunction-default),
      border var(--transitionDuration-fast) var(--transitionTimingFunction-default),
      box-shadow var(--transitionDuration-fast) var(--transitionTimingFunction-default),
      opacity var(--transitionDuration-fast) var(--transitionTimingFunction-default);

    cursor: pointer;
    user-select: none;


    &:disabled {
      pointer-events: none;
      filter: opacity(.4);
    }

    &--icon {
      --gap: 6.8%;
      --width-icon: 4rem;
      --aspect-ratio-icon: 1;
      --padding-icon: 1.4rem 1.2rem;

      grid-template-columns: var(--width-icon) auto var(--width-icon);
      align-items: center;
      gap: var(--gap);

      &::before,
      &::after {
        content: "";
      }

      &-l {
        &::before { content: none; }
        &::after { content: ""; }
      }

      &-r {
        &::before { content: ""; }
        &::after { content: none; }
      }

      &-pseudo {
        &::before,
        &::after {
          --background-image: var(--svg-arrow);

          width: 100%;
          aspect-ratio: var(--aspect-ratio-icon);
          padding: var(--padding-icon);
          background-position: center;
          background-repeat: no-repeat;
          background-size: auto;
        }
        &.c-button__frame--icon-l::before {
          content: "";
          background-image: var(--background-image);
        }
        &.c-button__frame--icon-r::after {
          content: "";
          background-image: var(--background-image);
        }
      }
    }
  }

  &__icon-wrapper {
    width: 100%;
    aspect-ratio: var(--aspect-ratio-icon);

    padding: var(--padding-icon);

    transform: translateX(var(--transform-amount));
    transition: transform var(--transitionDuration-fast) var(--transitionTimingFunction-default);
  }


  &__skin {
    &--main {
      --color-background: var(--color-brand-main);
      --color-font: var(--color-white);
    }

    &--main-2 {
      --color-background: var(--color-brand-sub);
      --color-font: var(--color-brand-font-main);
    }

    &--sub-1 {
      --color-background: var(--color-brand-sub1);
      --color-font: var(--color-white);
    }

    &--sub-2 {
      --color-background: var(--color-brand-sub2);
      --color-font: var(--color-brand-font-main);
    }

    &--blue {
      --color-background: var(--color-category-code);
      --color-font: var(--color-white);
    }
  }


  &__animation {
    &--opacity {
      @include m.hover {
        opacity: var(--opacity-hover);

        &:active {
          filter: opacity(.6);
        }
      }
    }

    &--transparent {
      @include m.hover {
        background-color: transparent;

        color: var(--color-background);


        &:active {
          background-color: var(--color-background);

          color: var(--color-font);

          filter: opacity(.6);
        }
      }
    }

    // MEMO: ボツ
    // &--invert {
    //   position: relative;

    //   background: none;
    //   border: none;
    //   overflow: hidden;

    //   &::after {
    //     content: "";

    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     // z-index: -1;

    //     width: 100%;
    //     height: 100%;
    //     background: var(--color-background);

    //     transition: filter var(--transitionDuration-fast) var(--transitionTimingFunction-default);
    //   }

    //   @include m.hover {
    //     &::after {
    //       filter: invert(1);
    //     }
    //   }
    // }

    &--shadow {
      &-4 {
        @include m.hover {
          box-shadow: var(--elevation-4);

          &:active {
            box-shadow: var(--elevation-8);
            transition: none;
          }
        }
      }

      &-6 {
        @include m.hover {
          box-shadow: var(--elevation-6);

          &:active {
            box-shadow: var(--elevation-12);
            transition: none;
          }
        }
      }

      &-8 {
        @include m.hover {
          box-shadow: var(--elevation-8);

          &:active {
            box-shadow: var(--elevation-16);
            transition: none;
          }
        }
      }
    }

    &--transform {
      @include m.hover {
        --transform-amount: 10%;

        &:active {
          --transform-amount: 30%;
        }
      }
    }

    &--shutter {
      --color-background-2nd: var(--color-brand-sub1);

      border: none;

      &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        z-index: -1;

        width: 0;
        height: 100%;
        background-color: var(--color-background-2nd);

        transition:
          background var(--transitionDuration-fast) var(--transitionTimingFunction-default),
          opacity var(--transitionDuration-fast) var(--transitionTimingFunction-default),
          width var(--transitionDuration-fast) var(--transitionTimingFunction-default);

        will-change: width;
      }

      @include m.hover {
        &::after {
          right: auto;
          left: 0;

          width: 100%;
        }

        &:active {
          filter: opacity(.6);
        }
      }
    }
  }
}
