<div class="document-reader" data-state-modal="inactive" data-state-reader="shrinked">
  <div class="document-reader__close-btn-wrapper document-reader__close-btn-wrapper--top">
    <button type="button" class="document-reader__close-btn--top">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m13.7 35.1-1.6-1.6 9.45-9.5-9.45-9.5 1.6-1.65L24.85 24Zm19.55.4v-23h2.25v23Z"/></svg>
    </button>
  </div>

  <div class="markdown-body"></div>

  <!-- <div class="document-reader__close-btn-wrapper">
    <button type="button" class="document-reader__close-btn document-reader__close-btn--serious">とじる</button>
  </div> -->

  <div class="document-reader__close-btn-wrapper document-reader__close-btn-wrapper--bottom">
    <button type="button" class="document-reader__close-btn document-reader__close-btn--bottom document-reader__close-btn--bottom--innovate">とじる</button>
    <span class="document-reader__close-btn-txt">とじる</span>
  </div>
</div>
