<header>
  <h1 class="page-title__text">Style Guide Template</h1>


  <a href="https://github.com/BRX-YTakahashi/StyleGuideTemplate" target="_blank" class="github-icon__wrapper" aria-label="GitHubへのリンク">
    <svg><use xlink:href="#octocatIcon"></use></svg>
  </a>
</header>
