<!-- index: Welcome -->
<nav class="page-index current" data-category="welcome">
  <ul class="page-index__list">
    <li class="page-index__list-item" data-index="active" data-placeholder>
      <a href="#PLACEHOLDER" class="page-index__list-item__link">PLACEHOLDER</a>
    </li>
  </ul>
</nav>

<!-- index: RULE -->
<nav class="page-index" data-category="rule">
  <ul class="page-index__list">
    <li class="page-index__list-item" data-index="active" data-placeholder>
      <a href="#PLACEHOLDER" class="page-index__list-item__link">PLACEHOLDER</a>
    </li>
  </ul>
</nav>

<!-- index: DESIGN -->
<nav class="page-index" data-category="design">
  <ul class="page-index__list">
    <li class="page-index__list-item" data-index="active" data-placeholder>
      <a href="#PLACEHOLDER" class="page-index__list-item__link">PLACEHOLDER</a>
    </li>
  </ul>
</nav>

<!-- index: CODE -->
<nav class="page-index" data-category="code">
  <ul class="page-index__list">
    <li class="page-index__list-item" data-index="active" data-placeholder>
      <a href="#PLACEHOLDER" class="page-index__list-item__link">PLACEHOLDER</a>
    </li>
  </ul>
</nav>
