@charset "UTF-8";
@use "../../../../Css/Foundation/function" as f;
@use "../../../../Css/Foundation/mixin" as m;
@use "../../../../Css/Foundation/variable" as v;


/* ===============================================
  * コード関連のスタイル *
=============================================== */
@include m.mqP(lg) {
  /* ===============================================
    * コード関連のスタイル *
  =============================================== */
}
@include m.mq(lg) {
  /* ===============================================
    * コード関連のスタイル *
  =============================================== */
}


.code {
  display: block;

  position: relative;

  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  background: var(--color-bg-main);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--borderRadius-small);
  color: var(--color-primary);
  // font-family: inherit;
  font-family: v.$ff-code;
  font-size: 1.2rem;
  font-weight: var(--fontweight-m);
  // letter-spacing: 0.05em;
  line-height: 1.5;
  // cursor: pointer;

  user-select: none;

  transition-property: background, border, box-shadow;
  transition-duration: var(--transitionDuration-fast);
  transition-timing-function: var(--transitionTimingFunction-default);

  path {
    transition-property: fill;
    transition-duration: var(--transitionDuration-fast);
    transition-timing-function: var(--transitionTimingFunction-default);
  }

  .annotation--s {
    margin-left: 0;
  }

  @include m.mqP(lg) {
    &:active {
      border-color: transparent;
      // box-shadow: var(--elevation-4);
      box-shadow: inset 20px 20px 60px #cbcbcb, inset -20px -20px 60px #ffffff;

      path {
        fill: var(--color-primary);
      }
    }
  }

  @include m.mq(lg) {
    @include m.hover {
      background: var(--color-silver-white);
      border-color: transparent;
      // box-shadow:  9px 9px 18px #cbcbcb, -9px -9px 18px #ffffff;
      box-shadow: var(--elevation-4);

      &:active {
        box-shadow: var(--elevation-8);
      }

      path {
        fill: var(--color-primary);
      }
    }

    &:active {
      box-shadow: inset 20px 20px 60px #cbcbcb, inset -20px -20px 60px #ffffff;
      // box-shadow: var(--elevation-8);
    }
  }
}

.icon--copy {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;

  width: 1.7rem;
  aspect-ratio: 17 / 19;
  margin: auto;

  color: grey;
}


/* style of code highlighter */
.code-preview {
  margin-top: var(--spacer-vertical-xsmall);
  margin-bottom: var(--spacer-vertical-xsmall);

  font-family: v.$ff-code;

  & > * {
    border: solid 1px var(--color-grey-lighter);
    border-radius: var(--borderRadius-regular);
    overflow: hidden;
  }
}
