<div class="main-content" data-category="design">
  <!-- CSS変数: color -->
  <section class="section-style section-style--color js-intersectTarget" id="customProperty_color" data-indexname="Color">
    <h2 class="title__text">CSS変数--色</h2>

    <p class="description__text">Css/base/variables.cssに記載してあります</p>

    <div class="content__wrapper color-tiles--variation">
      <h3 class="title__text title__text--child">テンプレート系設定</h3>

      <div class="color-tiles__container">
        <copy-color value="color-error" font="white"></copy-color>

        <copy-color value="color-main" font="white"></copy-color>

        <copy-color value="color-bg-main" font="black"></copy-color>

        <copy-color value="color-font" font="white"></copy-color>

        <copy-color value="color-attention" font="white"></copy-color>

        <copy-color value="color-primary" font="white"></copy-color>

        <copy-color value="color-warning" font="white"></copy-color>

        <copy-color value="color-test" font="black"></copy-color>
      </div>
    </div>

    <div class="content__wrapper color-tiles--variation">
      <h3 class="title__text title__text--child">ユーティリティー系</h3>

      <div class="color-tiles__container">
        <copy-color value="color-black" font="white"></copy-color>

        <copy-color value="color-white" font="black"></copy-color>

        <copy-color value="color-red" font="white"></copy-color>

        <copy-color value="color-blue" font="white"></copy-color>

        <copy-color value="color-green" font="white"></copy-color>

        <copy-color value="color-orange" font="white"></copy-color>

        <copy-color value="color-yellow" font="white"></copy-color>
      </div>
    </div>

    <div class="content__wrapper color-tiles--variation">
      <h3 class="title__text title__text--child">グレー</h3>

      <div class="color-tiles__container">
        <copy-color value="color-white-grey" font="black"></copy-color>

        <copy-color value="color-white-smoke" font="black"></copy-color>

        <copy-color value="color-silver-white" font="black"></copy-color>

        <copy-color value="color-very-light-grey" font="black"></copy-color>

        <copy-color value="color-light-grey" font="white"></copy-color>

        <copy-color value="color-silver" font="white"></copy-color>

        <copy-color value="color-middle-grey" font="white"></copy-color>

        <copy-color value="color-grey" font="white"></copy-color>

        <copy-color value="color-dark-grey" font="white"></copy-color>
      </div>
    </div>
  </section>


  <!-- CSS変数: font-family -->
  <section class="section-style section-style--font-family js-intersectTarget" id="customProperty_ff" data-indexname="Font-Family">
    <h2 class="title__text">CSS変数--フォントファミリー</h2>

    <p class="description__text">Css/base/variables.cssに記載してあります</p>

    <div class="font-family__list">
      <copy-fontfamily value="yu-gothic" name="游ゴシック体" class="font-family__list-item"></copy-fontfamily>

      <copy-fontfamily value="hiragino-gothic" name="ヒラギノ角ゴシック" class="font-family__list-item"></copy-fontfamily>

      <copy-fontfamily value="test" name="テスト" class="font-family__list-item"></copy-fontfamily>
    </div>
  </section>
</div>
