<div class="main-content current" data-category="welcome">
  <!-- 注意事項 -->
  <section class="section-style caution-area">
    <h2 class="title__text">注意事項</h2>

    <ul class="caution-txt__list">
      <li class="caution-txt__list-item">
        ダークモードは調色中のため、ライトモードでの閲覧を推奨します！<br>
        <span class="annotation--s annotation--grey">
          参考文献： <a href="https://m2.material.io/design/color/dark-theme.html" target="_blank" class="link__text">https://m2.material.io/design/color/dark-theme.html</a>
        </span>
      </li>
      {{!-- <li class="caution-txt__list-item">
        PLACEHOLDER<span class="annotation--s annotation--grey">placeholder</span>
      </li> --}}
    </ul>
  </section>


  <!-- 概要 -->
  <section class="section-style section-style--summary js-intersectTarget" id="summary" data-indexname="概要">
    <h2 class="title__text">諸々の概要</h2>

    <div class="markdown-body material__button--animate" data-doc-name="概要">
      <div class="markdown-output" data-doc-detail="summary"></div>
      <button type="button" class="markdown__modal-trigger d-md-none">
        <p class="markdown__modal-trigger-txt"><span class="js-placeholderText"></span>を読む</p>
      </button>
    </div>
  </section>
</div>
