<div class="main-content" data-category="code">

  <!-- ボタン -->
  <section class="section-style section-style--button js-intersectTarget" id="buttonCatalog" data-indexname="ボタン一覧">
    <h2 class="title__text">ボタン一覧</h2>

    <p class="description__text">ソースコードは src/Css/component/button.scss を参照してください</p>

    <div class="content__wrapper">
      {{> atomic/atomic_button}}
    </div>
  </section>


  <!-- SVG -->
  <section class="section-style section-style--button js-intersectTarget" id="buttonCatalog" data-indexname="SVG">
    <h2 class="title__text">SVG</h2>

    <p class="description__text">
      <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/symbol" target="_blank" class="link__text">symbolとuse</a>を用いてSVGの使い回しができるようにしています。
    </p>

    <div class="content__wrapper">
      {{> atomic/atomic_svg}}
    </div>
  </section>


  <!-- コードハイライター使用例 -->
  <section class="section-style section-style--hightlight-sample js-intersectTarget" id="hightlightSample" data-indexname="コードハイライター使用例">
    <h2 class="title__text">コードハイライター 使用例</h2>

    <div class="content__wrapper">
      <pre class="code-preview code-preview--html">
        &lt;div class="header__navigation-container-item--test header__search-icon hidden-desktop" onclick="openModal('search', this)" data-toggleicon="before"&gt;
          &lt;div class="header__icon-wrapper header__search-icon--open"&gt;
            &lt;svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"&gt; &lt;g id="グループ_1531" data-name="グループ 1531" transform="translate(-471 -75)"&gt; &lt;circle id="楕円形_16" data-name="楕円形 16" cx="40" cy="40" r="40" transform="translate(471 75)" fill="#413d3c"/&gt; &lt;path id="Icon_material-search" data-name="Icon material-search" d="M35.177,31.5H33.238l-.687-.663a15.976,15.976,0,1,0-1.718,1.718l.663.687v1.939L43.767,47.424l3.657-3.657Zm-14.725,0A11.044,11.044,0,1,1,31.5,20.452,11.029,11.029,0,0,1,20.452,31.5Z" transform="translate(485.522 89.522)" fill="#fff"/&gt; &lt;/g&gt;&lt;/svg&gt;
          &lt;/div&gt;
          &lt;span class="header__navigation-name header__search-icon--open"&gt;
            検索
          &lt;/span&gt;

          &lt;div class="header__icon-wrapper header__search-icon--close"&gt;
            &lt;svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"&gt; &lt;circle id="楕円形_16" data-name="楕円形 16" cx="40" cy="40" r="40" fill="#413d3c"/&gt; &lt;path id="パス_1668" data-name="パス 1668" d="M43.326,38.835,32.833,28.342,43.326,17.849a3.182,3.182,0,0,0-4.5-4.5L28.333,23.842,17.839,13.349a3.044,3.044,0,0,0-4.5,0,3.075,3.075,0,0,0,0,4.5L23.833,28.342,13.339,38.835a3.077,3.077,0,0,0,0,4.5,3.161,3.161,0,0,0,4.5,0L28.333,32.842,38.826,43.335a3.2,3.2,0,0,0,4.5,0A3.161,3.161,0,0,0,43.326,38.835Z" transform="translate(11.641 11.646)" fill="#fff"/&gt;&lt;/svg&gt;
          &lt;/div&gt;
          &lt;span class="header__navigation-name header__search-icon--close"&gt;
            閉じる
          &lt;/span&gt;
        &lt;/div&gt;
      </pre>
    </div>

    <div class="content__wrapper">
      <pre class="code-preview code-preview--scss">
        .header {
          &__hamburgermenu {
            &-modal {
              @include m.mqP(lg) {
                position: fixed;
                top: var(--headerHeight-innerTop);
                left: 0;
                width: 100%;
                height: calc(100% - var(--headerHeight-innerTop));
                padding-top: 2rem;
                padding-bottom: 5rem;
                background-color: var(color-beige);
                transition-property: transform;
                transform: translateY(-100%);
                overflow-y: scroll;
                z-index: 30;

                &[data-modalState="opened"] {
                  transform: translateY(0);

                  .header__search-wrapper,
                  .header__keyword-container {
                    opacity: 1;
                    visibility: visible;
                  }
                }
              }
              @include m.mq(lg) {
                display: none;
              }
            }
          }
        }
      </pre>
    </div>

    <div class="content__wrapper">
      <pre class="code-preview code-preview--ts" data-rl-caption="Global Variables">
        /**
        * @author Y.T
        */


        /* ===============================================
          * Global Variables *
        =============================================== */

        /**
          * ドキュメントのルート要素(= html要素)
          *
          * @type {object}
          */
        export let rootElm = document.querySelector<HTMLElement>("html");

        /**
          * ドキュメントのbody要素
          *
          * @type {object}
          */
        export let bodyElm = document.querySelector<HTMLElement>("body");

        /**
          * 画面幅(ビューポート).
          *
          * @type {number}
          * @function refreshWindowSize
          */
        export let screenWidth: number = window.innerWidth;

        /**
          * 画面高(ビューポート).
          *
          * @type {number}
          * @function refreshWindowSize
          */
        export let screenHeight: number = window.innerHeight;

        /** モバイルデバイスを判定する画面幅 */
        export const MOBILE_SCREEN_WIDTH = 768;

        /** デスクトップデバイスを判定する画面幅 */
        export const DESKTOP_SCREEN_WIDTH = 1200;

        /**
          * ユーザーエージェント.
          *
          * @type {string} 小文字に変換済み
          */
        export const userAgent: string = window.navigator.userAgent.toLowerCase();

        /**
          * iOS端末の判定.
          *
          * @type {boolean} [true | false]
          */
        export const iOS: boolean = userAgent.indexOf("iphone") > -1 || userAgent.indexOf("ipad") > -1 || userAgent.indexOf("macintosh") > -1 && "ontouchend" in document;

        /**
          * Android端末の判定.
          *
          * @type {boolean} [true | false]
          */
        export const Android: boolean = userAgent.indexOf("android") > -1 && "ontouchend" in document;

        /**
          * デフォルトのアニメーション速度.
          *
          * CSS変数から値を取得しています.
          *
          * @type {number} [--transitionDuration-default] アニメーション速度.単位はms.
          * @type {number} [undefined] 変数が存在しない場合、300を代入。
          */
        export const defaultAnimationSpeed: number = getComputedStyle(document.documentElement).getPropertyValue("--transitionDuration-default") ? Number(getComputedStyle(document.documentElement).getPropertyValue("--transitionDuration-default").replace("ms", "")) : 300;


        /* ===============================================
          * DOMツリー構築後に値を再代入する *
          TODO: type="module"で読み込むので、ここの処理は必要ないかも
        =============================================== */

        document.addEventListener("DOMContentLoaded", function() {
          rootElm = document.querySelector<HTMLElement>("html");
          bodyElm = document.querySelector<HTMLElement>("body");
          screenWidth = window.innerWidth;
          screenHeight = window.innerHeight;
        });


        /* ===============================================
          * 画面リサイズ時に値を再代入する *
        =============================================== */

        /** 画面幅の値を再代入する */
        function reassignmentWindowSize() {
          screenWidth = window.innerWidth;
          screenHeight = window.innerHeight;
        }

        /** resizeイベント発火時、画面幅が異なる時に値を再代入する */
        function refreshWindowSize() {
          screenWidth !== window.innerWidth && reassignmentWindowSize();
        }

        window.onresize = refreshWindowSize;
      </pre>
    </div>

    <div class="content__wrapper">
      <pre class="code-preview code-preview--ts" data-rl-caption="ボディ固定処理">
        /**
          * @author Y.T
          */


        /** import ES modules */
        import * as globalVar from './m_global_variable';


        /**
          * 現在のスクロール位置.
          *
          * @type {number}
          */
        let scrollPosition = 0;

        /**
          * モーダルの表示状態を判定するフラグ
          *
          * @type {boolean} modalStateFlg
          */
        let modalStateFlg = false;

        /**
          * html に scroll-behavior: smooth が設定されているか判定するフラグ.
          *
          * @type {boolean}
          */
        const SMOOTH_SCROLL_FLG = globalVar.rootElm && (getComputedStyle(globalVar.rootElm).getPropertyValue("scroll-behavior") === "smooth");




        /* ===============================================
          * モーダル関連 *
        =============================================== */

        /**
          * モーダル有効時の背景固定を有効化する.
          */
        export function bodyFixedOn() {
          if (globalVar.rootElm && globalVar.bodyElm) {
            modalStateFlg = true;

            globalVar.iOS ? (
              SMOOTH_SCROLL_FLG && (globalVar.rootElm.style.scrollBehavior = "auto"),
              scrollPosition = window.pageYOffset,
              globalVar.bodyElm.style.cssText = `position: fixed; top: -${scrollPosition}px; height: 100vh; overflow: hidden;`
            )
            : globalVar.bodyElm.style.overflow = "hidden";

            modalStateFlg && globalVar.rootElm.setAttribute("data-state-fixed-body", "fixed");
          }
        }

        /**
          * モーダル有効時の背景固定を無効化する.
          */
        export function bodyFixedOff() {
          if (globalVar.rootElm && globalVar.bodyElm) {
            modalStateFlg = false;

            globalVar.iOS ? (
              globalVar.bodyElm.style.removeProperty("position"),
              globalVar.bodyElm.style.removeProperty("top"),
              window.scrollTo({
                top: scrollPosition,
                left: 0,
                behavior: 'auto'
              }),
              globalVar.bodyElm.style.removeProperty("overflow"),
              globalVar.rootElm.style.height = "",
              SMOOTH_SCROLL_FLG && (globalVar.rootElm.style.scrollBehavior = "smooth")
            )
            : globalVar.bodyElm.style.removeProperty("overflow");

            !modalStateFlg && globalVar.rootElm.setAttribute("data-state-fixed-body", "unfixed");
          }
        }
      </pre>
    </div>
  </section>

</div>
