<ul class="category-tab__list" data-state-category-tab="">
  <li class="category-tab__list-item current" data-category="welcome">Get Started</li>
  <li class="category-tab__list-item" data-category="rule">Rule</li>
  <li class="category-tab__list-item" data-category="design">Design</li>
  <li class="category-tab__list-item" data-category="code">Code</li>
  <li class="category-tab__list-item category-tab__list-item--expand" data-category="expand">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M18.17,12L15,8.83L16.41,7.41L21,12L16.41,16.58L15,15.17L18.17,12M5.83,12L9,15.17L7.59,16.59L3,12L7.59,7.42L9,8.83L5.83,12Z" /></svg>
  </li>
</ul>
